// Theme colors
$primary: #326dee !default;
$secondary: #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// Spacing
$base-padding: .75rem;
$base-margin: .75rem;

// Border
$base-border-thickness: 1px;
$base-border-radius: 20px;

// Box Shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

//Font Sizes
$base-font-size: 1rem;